
body{
    background-image: url(img/ondas.svg);
    background-color: #22193F;
}
h2{
    color: white;
    position: absolute;
    margin: 150px ;
    margin-left: 100px;
    font-size: 70px ;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
.imagen-login{
    width: 400px;
    height: 400px;
    padding: 0px;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

.contenedor{
    margin: 150px auto;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 400px;    
}
.form-group{
    padding-top: 70px;
    padding-left: 10px; 
    font-size: 16px;
    
} 

input{
    height:  40px;
    width: 100px;
    font-family: 'Nunito',sans-serif;
    border: solid  #C4C4C4;
}
.menu{
    width: 400px;
    height: 400px;
    display: inline-block;
    padding: 0px;
    background-color: rgb(253, 253, 253);

}
.h1{
    font-size: 28px;
    width: 150px;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}
.email-form{
    font-size: 16px;
    width: 350px; 
    border-radius: 22px;
    font-family: 'Nunito Regular';
}
.password-form{
    width: 350px;
    margin-top: 20px; 
    border-radius: 22px;
    font-family: 'Nunito Regular';
}
.recovery-password{
    justify-content: end;
    text-align: end; 
    margin: 0px;
    font-family: 'Nunito Bold';
}

.a-password{
    margin: 0px;
    margin-right: 20px;
    width: 16px;
    color: #E21982;
    text-decoration: underline;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.a-password:hover{
    color:rgb(254, 0, 0); 
}

.p-inicio{
    background-color: #E21982;
    margin: auto;
    margin-top: 30px;
    height: 30px;
    width: 300px;
   
    border-radius: 22px;
    text-align: center;
}   

.p-inicio:hover{
    background-color: rgb(250, 0, 42);
}
.iniciar-sesion{   
    color: white;
    text-decoration: none;
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
    
}
